@import "vars";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, #root, .content{
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: #212832;
  color: $color_text;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  height: 66px;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
.content{
  height: calc(100vh - 66px);
}

.btn{
  border: 2px solid #FFFFFF;
  padding: .5em 0.7em;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.task{
  transition: all .3s;
  opacity: .6;
  &:hover{
    transition: all .3s;
    opacity: 1;
  }
}
button.btn{
  transition: all .3s;
  &:hover{
    border: 2px solid #FED36A;
    color: #FED36A;
  }
}
::-webkit-scrollbar {
  height: 14px;
  background-color: #212832;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: #FED36A;
  border-radius: 1em;
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #434958;
}