@import "vars";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: #212832;
  color: $color_text;
  box-sizing: border-box;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
