@import "vars";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: #212832;
  color: $color_text;
  box-sizing: border-box;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}

.btn{
  border: 2px solid #FFFFFF;
  padding: .5em 0.7em;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}