// FONT
$font_family              : 'Roboto', sans-serif;
$font_weight              : 400;
$line_height              : 1.2;

// COLORS
$color_text               : #FFFFFF;
$color_primary            : #FED36A;